In [1]:
import pandas as pd 
#import fooddesert_austin_censusshapes.csv 
application_df = pd.read_csv("resources\\fooddesert_austin_censusshapes.csv")
application_df.head()

,CensusTract,_c0,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,...,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,PointOrder,SubPolygonId,PointLatitude,PointLongitude
0,48021950100,61529,Texas,Bastrop,0,8608,3063,0,0,0.0,...,4,65,1596,2660,51,351,1,1,30.2431,-97.1950
1,48021950100,61529,Texas,Bastrop,0,8608,3063,0,0,0.0,...,4,65,1596,2660,51,351,2,1,30.2438,-97.2139
2,48021950100,61529,Texas,Bastrop,0,8608,3063,0,0,0.0,...,4,65,1596,2660,51,351,3,1,30.2425,-97.2148
3,48021950100,61529,Texas,Bastrop,0,8608,3063,0,0,0.0,...,4,65,1596,2660,51,351,4,1,30.2469,-97.2217
4,48021950100,61529,Texas,Bastrop,0,8608,3063,0,0,0.0,...,4,65,1596,2660,51,351,5,1,30.2634,-97.2306

In [2]:
for col in application_df.columns: 
    print(col)

CensusTract
_c0
State
County
Urban
POP2010
OHU2010
GroupQuartersFlag
NUMGQTRS
PCTGQTRS
LILATracts_1And10
LILATracts_halfAnd10
LILATracts_1And20
LILATracts_Vehicle
HUNVFlag
LowIncomeTracts
PovertyRate
MedianFamilyIncome
LA1and10
LAhalfand10
LA1and20
LATracts_half
LATracts1
LATracts10
LATracts20
LATractsVehicle_20
LAPOP1_10
LAPOP05_10
LAPOP1_20
LALOWI1_10
LALOWI05_10
LALOWI1_20
lapophalf
lapophalfshare
lalowihalf
lalowihalfshare
lakidshalf
lakidshalfshare
laseniorshalf
laseniorshalfshare
lawhitehalf
lawhitehalfshare
lablackhalf
lablackhalfshare
laasianhalf
laasianhalfshare
lanhopihalf
lanhopihalfshare
laaianhalf
laaianhalfshare
laomultirhalf
laomultirhalfshare
lahisphalf
lahisphalfshare
lahunvhalf
lahunvhalfshare
lasnaphalf
lasnaphalfshare
lapop1
lapop1share
lalowi1
lalowi1share
lakids1
lakids1share
laseniors1
laseniors1share
lawhite1
lawhite1share
lablack1
lablack1share
laasian1
laasian1share
lanhopi1
lanhopi1share
laaian1
laaian1share
laomultir1
laomultir1share
lahisp1
lahisp1share
lahunv1
lahunv1share
lasnap1
lasnap1share
lapop10
lapop10share
lalowi10
lalowi10share
lakids10
lakids10share
laseniors10
laseniors10share
lawhite10
lawhite10share
lablack10
lablack10share
laasian10
laasian10share
lanhopi10
lanhopi10share
laaian10
laaian10share
laomultir10
laomultir10share
lahisp10
lahisp10share
lahunv10
lahunv10share
lasnap10
lasnap10share
lapop20
lapop20share
lalowi20
lalowi20share
lakids20
lakids20share
laseniors20
laseniors20share
lawhite20
lawhite20share
lablack20
lablack20share
laasian20
laasian20share
lanhopi20
lanhopi20share
laaian20
laaian20share
laomultir20
laomultir20share
lahisp20
lahisp20share
lahunv20
lahunv20share
lasnap20
lasnap20share
TractLOWI
TractKids
TractSeniors
TractWhite
TractBlack
TractAsian
TractNHOPI
TractAIAN
TractOMultir
TractHispanic
TractHUNV
TractSNAP
PointOrder
SubPolygonId
PointLatitude
PointLongitude

In [3]:
# Create a new dataframe with geo locations, county names, and columns to be used for visualizations. To be added are geo locations and county names

column_list_number= ['lasnaphalf','lahunvhalf', 'lasnap1', 'lahunv1', 'lasnap10', 'lahunv10', 'lasnap20', 'lahunv20']
column_list_share= ['lasnaphalfshare', 'lahunvhalfshare', 'lasnap1share', 'lahunv1share', 'lasnap10share', 'lahunv10share', 'lasnap20share', 'lahunv20share']
viz_df= application_df[column_list_number+column_list_share]
viz_df.head(5)

,lasnaphalf,lahunvhalf,lasnap1,lahunv1,lasnap10,lahunv10,lasnap20,lahunv20,lasnaphalfshare,lahunvhalfshare,lasnap1share,lahunv1share,lasnap10share,lahunv10share,lasnap20share,lahunv20share
0,325.133846,48.548857,319.907937,47.889963,5.159378,0.922672,0,0,0.106149,0.01585,0.104443,0.015635,0.001684,0.000301,0,0
1,325.133846,48.548857,319.907937,47.889963,5.159378,0.922672,0,0,0.106149,0.01585,0.104443,0.015635,0.001684,0.000301,0,0
2,325.133846,48.548857,319.907937,47.889963,5.159378,0.922672,0,0,0.106149,0.01585,0.104443,0.015635,0.001684,0.000301,0,0
3,325.133846,48.548857,319.907937,47.889963,5.159378,0.922672,0,0,0.106149,0.01585,0.104443,0.015635,0.001684,0.000301,0,0
4,325.133846,48.548857,319.907937,47.889963,5.159378,0.922672,0,0,0.106149,0.01585,0.104443,0.015635,0.001684,0.000301,0,0

In [4]:
# Is this columns determine Food deserts?
application_df['LILATracts_1And10']

0       0
1       0
2       0
3       0
4       0
       ..
7381    1
7382    1
7383    1
7384    1
7385    1
Name: LILATracts_1And10, Length: 7386, dtype: int64

In [ ]:
# Use a bar chart to show percentage of population count of low, median, high income levels for each county and the portion of those categories that are in a food desert. Create a new column
#'Low income', - Create-qualifier to set 1 if below low income threshold 
#'lowincome_food_desert' Create-qualifier to set 1 if below low income threshold & is in a food desert
# These newly created columns can now be counted in Tableau to find the percentage of low income and low income & food desert

In [ ]:
#