## UTMCC DataViz Module 20 Team Project --  
## Neural Network Machine Deep Learning Model  
### Food Deserts in the Austin, Texas Metro Area

In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced
from sklearn.ensemble import AdaBoostClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

from scipy import stats
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import activations
# Import checkpoint dependencies
import os
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.utils import to_categorical

In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame

from pathlib import Path
from collections import Counter
import datetime as dt
import calendar
import random
from path import Path

import io
import sys
import psycopg2
import csv
import codecs
import boto3

# %matplotlib inline
# from matplotlib import style
# style.use('fivethirtyeight')
# import matplotlib.pyplot as plt
# import statistics
# from flask import Flask, jsonify
# from mpl_toolkits.mplot3d import Axes3D
# from hvplot import hvPlot
# import hvplot.pandas
# import plotly.express as px

# Python SQL toolkit and Object Relational Mapper
import sqlite3
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, select, delete, Table
from sqlalchemy import extract

import warnings
warnings.filterwarnings('ignore')

### Import and read csv file from AWS S3 Bucket using Boto 3 and Pandas

In [3]:
# Download csv file from AWS S3 and create a pandas dataframe 

client = boto3.client('s3', 'us-east-2', aws_access_key_id='xxxxxxxx', 
                                  aws_secret_access_key='xxxxxxxxy')

obj = client.get_object(Bucket= "dataviz20-bucket", Key= "food_access_research_atlas.csv") 

food_atlas_df = pd.read_csv(io.BytesIO(obj['Body'].read()), encoding='utf8')
food_atlas_df.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [4]:
client = boto3.client('s3', 'us-east-2', aws_access_key_id='xxxxxxxx', 
                                  aws_secret_access_key='xxxxxxxxy')

obj = client.get_object(Bucket= "dataviz20-bucket", Key= "food_desert_austin_censustract.csv") 

fooddesert_austin_censustract_df = pd.read_csv(io.BytesIO(obj['Body'].read()), encoding='utf8')
# fooddesert_austin_censustract_df

In [5]:
client = boto3.client('s3', 'us-east-2', aws_access_key_id='xxxxxxxx', 
                                  aws_secret_access_key='xxxxxxxxy')

obj = client.get_object(Bucket= "dataviz20-bucket", Key= "census_tract_shapefiles_all.csv") 

census_tract_shapefiles_all_df = pd.read_csv(io.BytesIO(obj['Body'].read()), encoding='utf8')
# census_tract_shapefiles_all_df

In [6]:
# Rename column GEOID to CensusTract
census_tract_shapefiles_all_df = census_tract_shapefiles_all_df.rename(columns={"GEOID":"CensusTract"})
# census_tract_shapefiles_all_df

In [ ]:
# Import and read csv files
#food_atlas_df = pd.read_csv("resources/food_access_research_atlas.csv")

In [ ]:
#food_atlas_df.head()

## Preprocessing the data

In [7]:
food_atlas_df.dtypes

CensusTract       int64
State            object
County           object
Urban             int64
POP2010           int64
                  ...
TractAIAN         int64
TractOMultir      int64
TractHispanic     int64
TractHUNV         int64
TractSNAP         int64
Length: 147, dtype: object

In [8]:
# Checking for missing values using isnull()
food_atlas_df.isnull()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72859,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
72860,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
72861,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
72862,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
72863,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
# Drop rows that may have null, missing values.
rows_len_nan_check = food_atlas_df.dropna(how='all')
rows_len_nan_check

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72859,56043000200,Wyoming,Washakie,0,3326,1317,0,57,0.017138,0,...,593,3106,6,15,0,27,172,309,56,116
72860,56043000301,Wyoming,Washakie,1,2665,1154,0,10,0.003752,0,...,399,2377,5,23,0,40,220,446,114,124
72861,56043000302,Wyoming,Washakie,1,2542,1021,0,73,0.028717,0,...,516,2312,11,10,1,26,182,407,82,97
72862,56045951100,Wyoming,Weston,0,3314,1322,0,252,0.076041,0,...,499,3179,15,10,1,47,62,91,108,50
72863,56045951300,Wyoming,Weston,1,3894,1699,0,61,0.015665,0,...,650,3706,6,10,2,44,126,125,95,168

In [10]:
# Compare sizes of the dataframes to indicate how many rows had a minimum of one null value. 
print("Old data frame length:", len(food_atlas_df)) 
print("New data frame length:", len(rows_len_nan_check))  
print("Number of rows with at least 1 NA value: ", (len(food_atlas_df)-len(rows_len_nan_check)))

Old data frame length: 72864
New data frame length: 72864
Number of rows with at least 1 NA value:  0

In [11]:
# Create new df keeping only Texas
food_texas_df = food_atlas_df[(food_atlas_df["State"]=="Texas")]
food_texas_df

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
61468,48001950100,Texas,Anderson,0,4685,1874,0,49,0.010459,0,...,912,4012,452,22,0,13,186,236,125,218
61469,48001950401,Texas,Anderson,0,5422,77,1,5219,0.962560,0,...,24,1825,2266,21,0,5,1305,1324,5,0
61470,48001950402,Texas,Anderson,0,7535,83,1,7315,0.970803,0,...,134,2591,3248,13,0,10,1673,1737,0,0
61471,48001950500,Texas,Anderson,1,4377,1604,0,86,0.019648,1,...,627,2737,800,19,2,20,799,1389,66,288
61472,48001950600,Texas,Anderson,1,6405,2253,0,96,0.014988,1,...,791,3831,1674,68,4,43,785,1253,194,412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66721,48505950400,Texas,Zapata,0,5610,1741,0,0,0.000000,1,...,555,5264,5,12,0,30,299,5176,58,539
66722,48507950100,Texas,Zavala,0,1232,388,0,0,0.000000,1,...,125,1056,4,0,0,2,170,1104,55,164
66723,48507950200,Texas,Zavala,0,1880,590,0,0,0.000000,1,...,203,1612,21,2,9,13,223,1635,59,155
66724,48507950301,Texas,Zavala,0,2254,628,0,348,0.154392,0,...,225,2096,14,1,0,3,140,2109,160,384
66725,48507950302,Texas,Zavala,1,6311,1967,0,61,0.009666,1,...,855,5537,50,1,7,23,693,6113,310,616

In [12]:
# Create new df keeping only select Counties in the Austin Metro Area
counties = ["Bastrop", "Caldwell", "Hays", "Travis", "Williamson"]
food_austin_df = food_texas_df.loc[food_texas_df["County"].isin(counties)]
food_austin_df

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
61529,48021950100,Texas,Bastrop,0,8608,3063,0,0,0.000000,0,...,1028,6507,383,53,4,65,1596,2660,51,351
61530,48021950200,Texas,Bastrop,1,7955,2625,0,186,0.023381,1,...,891,4521,1328,32,14,76,1984,3674,148,444
61531,48021950300,Texas,Bastrop,0,12927,4734,0,71,0.005492,0,...,1468,9971,1213,156,18,88,1481,3012,95,568
61532,48021950400,Texas,Bastrop,1,7984,3127,0,456,0.057114,0,...,1199,6312,800,78,3,62,729,1711,255,261
61533,48021950501,Texas,Bastrop,0,8008,2168,0,1519,0.189685,0,...,566,5209,849,37,12,123,1778,3253,128,285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66673,48491021507,Texas,Williamson,1,9196,3293,0,1,0.000109,0,...,444,6315,1227,421,15,44,1174,2710,179,277
66674,48491021508,Texas,Williamson,1,6531,2402,0,0,0.000000,0,...,301,4744,761,303,7,28,688,1627,23,133
66675,48491021601,Texas,Williamson,0,3278,1120,0,0,0.000000,1,...,236,2569,102,19,6,15,567,954,5,26
66676,48491021602,Texas,Williamson,0,2857,959,0,0,0.000000,0,...,332,2464,47,19,0,16,311,906,12,106
66677,48491021603,Texas,Williamson,0,1653,540,0,0,0.000000,1,...,181,1393,19,13,0,12,216,532,14,31

In [13]:
# Create a file for visualization, food desert tracts for Austin Metro Area  food_austin_df.loc
# aus_desert_tracts = ["CensusTract", "LILATracts_1And10"]
LILATracts_1And10_aus_df = food_austin_df[["CensusTract", "LILATracts_1And10"]]
LILATracts_1And10_aus_df

       CensusTract  LILATracts_1And10
61529  48021950100                  0
61530  48021950200                  1
61531  48021950300                  0
61532  48021950400                  0
61533  48021950501                  0
...            ...                ...
66673  48491021507                  0
66674  48491021508                  0
66675  48491021601                  1
66676  48491021602                  0
66677  48491021603                  1

[350 rows x 2 columns]

In [14]:
# export to csv 
# LILATracts_1And10_aus_df.to_csv("LILATracts_1And10_aus.csv")

In [15]:
# Begin Income column creation (target variable), MFI = MedianFamilyIncome']
food_austinMFI_df = food_austin_df
food_austinMFI_df['MedianFamilyIncome']

61529    70516
61530    67792
61531    75462
61532    62375
61533    65079
         ...
66673    66820
66674    83241
66675    57389
66676    63125
66677    58902
Name: MedianFamilyIncome, Length: 350, dtype: int64

In [16]:
# Poverty Guidelines U.S. 2015 family of 4 is $24250
conditions = [(food_austinMFI_df['MedianFamilyIncome'] <= 24250), 
              (food_austinMFI_df['MedianFamilyIncome'] > 24250)]
values = [0, 1]
food_austinMFI_df["Income"] = np.select(conditions, values)
food_austinMFI_df.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,Income
61529,48021950100,Texas,Bastrop,0,8608,3063,0,0,0.000000,0,...,6507,383,53,4,65,1596,2660,51,351,1
61530,48021950200,Texas,Bastrop,1,7955,2625,0,186,0.023381,1,...,4521,1328,32,14,76,1984,3674,148,444,1
61531,48021950300,Texas,Bastrop,0,12927,4734,0,71,0.005492,0,...,9971,1213,156,18,88,1481,3012,95,568,1
61532,48021950400,Texas,Bastrop,1,7984,3127,0,456,0.057114,0,...,6312,800,78,3,62,729,1711,255,261,1
61533,48021950501,Texas,Bastrop,0,8008,2168,0,1519,0.189685,0,...,5209,849,37,12,123,1778,3253,128,285,1

In [17]:
food_austinMFI_df.dtypes

CensusTract       int64
State            object
County           object
Urban             int64
POP2010           int64
                  ...
TractOMultir      int64
TractHispanic     int64
TractHUNV         int64
TractSNAP         int64
Income            int32
Length: 148, dtype: object

In [36]:
# export to csv 
# food_austinMFI_df.to_csv("food_desert_austinMFI.csv")

In [37]:
# Create new df with select feature columns representing "share" values
food_desert_Austin_df = food_austinMFI_df[["Income", "lasnaphalfshare", "lahunvhalfshare", "lasnap1share", "lahunv1share", "lasnap10share", "lahunv10share", "lasnap20share", "lahunv20share"]]
food_desert_Austin_df

,Income,lasnaphalfshare,lahunvhalfshare,lasnap1share,lahunv1share,lasnap10share,lahunv10share,lasnap20share,lahunv20share
61529,1,0.106149,0.015850,0.104443,0.015635,0.001684,0.000301,0.0,0.0
61530,1,0.140413,0.045970,0.088953,0.031108,0.000000,0.000000,0.0,0.0
61531,1,0.124636,0.021290,0.116085,0.017944,0.010261,0.001849,0.0,0.0
61532,1,0.077106,0.061340,0.060436,0.036602,0.000000,0.000000,0.0,0.0
61533,1,0.141932,0.066633,0.141930,0.066632,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...
66673,1,0.076911,0.044745,0.060783,0.028574,0.000000,0.000000,0.0,0.0
66674,1,0.027253,0.001319,0.015606,0.000144,0.000000,0.000000,0.0,0.0
66675,1,0.022260,0.005910,0.022260,0.005910,0.013610,0.002004,0.0,0.0
66676,1,0.108607,0.013994,0.108607,0.013994,0.000000,0.000000,0.0,0.0
66677,1,0.060311,0.028938,0.060311,0.028938,0.021407,0.006965,0.0,0.0

In [38]:
# export to csv 
# food_desert_Austin_df.to_csv("food_desert_Austin.csv")

### Data preprocessing for: ML Training on full U.S. Census dataset

In [19]:
# Data Preparation for full U.S. dataset
# Begin Income column creation (target variable), MFI = MedianFamilyIncome
food_atlasMFI_df = food_atlas_df
food_atlasMFI_df['MedianFamilyIncome']

0        74750
1        51875
2        52905
3        68079
4        77819
         ...
72859    67917
72860    52474
72861    66250
72862    81500
72863    68966
Name: MedianFamilyIncome, Length: 72864, dtype: int64

In [20]:
# Poverty Guidelines U.S. 2015 family of 4 is $24,250
conditions = [(food_atlasMFI_df['MedianFamilyIncome'] <= 24250), 
              (food_atlasMFI_df['MedianFamilyIncome'] > 24250)]
values = [0, 1]
food_atlasMFI_df["Income"] = np.select(conditions, values)
food_atlasMFI_df

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,Income
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,1622,217,14,0,14,45,44,26,112,1
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,888,1217,5,0,5,55,75,87,202,1
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,2576,647,17,5,11,117,87,108,120,1
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,4086,193,18,4,11,74,85,19,82,1
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,8666,1437,296,9,48,310,355,198,488,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72859,56043000200,Wyoming,Washakie,0,3326,1317,0,57,0.017138,0,...,3106,6,15,0,27,172,309,56,116,1
72860,56043000301,Wyoming,Washakie,1,2665,1154,0,10,0.003752,0,...,2377,5,23,0,40,220,446,114,124,1
72861,56043000302,Wyoming,Washakie,1,2542,1021,0,73,0.028717,0,...,2312,11,10,1,26,182,407,82,97,1
72862,56045951100,Wyoming,Weston,0,3314,1322,0,252,0.076041,0,...,3179,15,10,1,47,62,91,108,50,1
72863,56045951300,Wyoming,Weston,1,3894,1699,0,61,0.015665,0,...,3706,6,10,2,44,126,125,95,168,1

In [21]:
food_atlasMFI_df.dtypes

CensusTract       int64
State            object
County           object
Urban             int64
POP2010           int64
                  ...
TractOMultir      int64
TractHispanic     int64
TractHUNV         int64
TractSNAP         int64
Income            int32
Length: 148, dtype: object

In [22]:
# export to csv 
# food_atlasMFI_df.to_csv("food_atlasMFI.csv")

In [23]:
# Create new df with select feature columns for all of U.S. (not only for Texas), with 72,864 rows
# Use this df as ML Training set, this input data has no categorical data types, it can be provided to the neural network model in its raw form 
food_desertUS_df = food_atlasMFI_df[["Income", "lasnaphalfshare", "lahunvhalfshare", "lasnap1share", "lahunv1share", "lasnap10share", "lahunv10share", "lasnap20share", "lahunv20share"]]
food_desertUS_df

,Income,lasnaphalfshare,lahunvhalfshare,lasnap1share,lahunv1share,lasnap10share,lahunv10share,lasnap20share,lahunv20share
0,1,0.147009,0.031106,0.114786,0.014102,0.000000,0.000000,0.000000,0.000000
1,1,0.171424,0.078908,0.056125,0.029123,0.000000,0.000000,0.000000,0.000000
2,1,0.079760,0.039124,0.040019,0.010594,0.000000,0.000000,0.000000,0.000000
3,1,0.039322,0.010177,0.014171,0.005100,0.000000,0.000000,0.000000,0.000000
4,1,0.083065,0.031748,0.029384,0.010940,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
72859,1,0.089568,0.043199,0.070881,0.027829,0.027191,0.009948,0.022738,0.009584
72860,1,0.029293,0.037033,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
72861,1,0.034696,0.027687,0.006754,0.005270,0.000000,0.000000,0.000000,0.000000
72862,1,0.029139,0.067493,0.024003,0.060575,0.010547,0.028515,0.002164,0.005948
72863,1,0.065055,0.049088,0.034283,0.019168,0.000000,0.000000,0.000000,0.000000

In [24]:
# export to csv
# food_desertUS_df.to_csv("food_desertUS.csv")

In [25]:
# Create a OneHotEncoder instance for column Income, and although the Income data value are numerical, not categorical, 
#  to ensure that the values are encoded for the ML model.
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(food_desertUS_df.Income.values.reshape(-1,1)))
encode_df.head(5)

     0    1
0  0.0  1.0
1  0.0  1.0
2  0.0  1.0
3  0.0  1.0
4  0.0  1.0

In [26]:
encode_df.dtypes

0    float64
1    float64
dtype: object

In [27]:
# export to csv
# encode_df.to_csv("encode.csv")

## Machine Learning Models
### ML Training on full U.S. Census dataset

In [28]:
# Split the preprocessed dataframe into our features and target arrays
#  Remove Income target from features data. Establish the target output, y, as the encoded Income column for "1".
#   The two columns of the endoce_df are redundant to each other, as they are dichotomous, we only need one of the colunns.
y = encode_df[1]
X = food_desertUS_df.drop(columns="Income").values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [29]:
# Create StandardScaler instance. Using the StandardScaler module to standardize our numerical variables, we reduce the overall
#  likelihood that outliers, variables of different units, or skewed distributions will have a negative impact on the model's performance.
scaler = StandardScaler()
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:
# Define the model - deep neural net. the number of input features and the hidden nodes for each layer.
# A rule of thumb for a basic neural network is to have two to three times the amount of neurons in 
# the hidden layer as the number of inputs.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 9

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                270
_________________________________________________________________
dense_1 (Dense)              (None, 9)                 279
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 10
=================================================================
Total params: 559
Trainable params: 559
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [32]:
# Compile and train the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every 5 epochs. Checkpoints will be saved every thousand samples tested (across all epochs).
# Using the Keras ModelCheckpoint method
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=1000)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
 981/1708 [================>.............] - ETA: 0s - loss: 0.1830 - accuracy: 0.9610
Epoch 00001: saving model to checkpoints\weights.01.hdf5
1708/1708 [==============================] - 2s 911us/step - loss: 0.1642 - accuracy: 0.9607
Epoch 2/100
 284/1708 [===>..........................] - ETA: 1s - loss: 0.1373 - accuracy: 0.9608
Epoch 00002: saving model to checkpoints\weights.02.hdf5
1277/1708 [=====================>........] - ETA: 0s - loss: 0.1315 - accuracy: 0.9617
Epoch 00002: saving model to checkpoints\weights.02.hdf5
1708/1708 [==============================] - 2s 894us/step - loss: 0.1317 - accuracy: 0.9615
Epoch 3/100
 577/1708 [=========>....................] - ETA: 0s - loss: 0.1239 - accuracy: 0.9638
Epoch 00003: saving model to checkpoints\weights.03.hdf5
1549/1708 [==========================>...] - ETA: 0s - loss: 0.1277 - accuracy: 0.9615
Epoch 00003: saving model to checkpoints\weights.03.hdf5
1708/1708 [==============================] - 2s 952us/step - loss: 0.1270 - accuracy: 0.9617
Epoch 4/100
 861/1708 [==============>...............] - ETA: 0s - loss: 0.1260 - accuracy: 0.9618
Epoch 00004: saving model to checkpoints\weights.04.hdf5
1708/1708 [==============================] - 2s 900us/step - loss: 0.1245 - accuracy: 0.9620
Epoch 5/100
 111/1708 [>.............................] - ETA: 1s - loss: 0.1356 - accuracy: 0.9595
Epoch 00005: saving model to checkpoints\weights.05.hdf5
1125/1708 [==================>...........] - ETA: 0s - loss: 0.1237 - accuracy: 0.9617
Epoch 00005: saving model to checkpoints\weights.05.hdf5
1708/1708 [==============================] - 2s 884us/step - loss: 0.1230 - accuracy: 0.9620
Epoch 6/100
 412/1708 [======>.......................] - ETA: 1s - loss: 0.1126 - accuracy: 0.9655
Epoch 00006: saving model to checkpoints\weights.06.hdf5
1443/1708 [========================>.....] - ETA: 0s - loss: 0.1199 - accuracy: 0.9623
Epoch 00006: saving model to checkpoints\weights.06.hdf5
1708/1708 [==============================] - 2s 935us/step - loss: 0.1210 - accuracy: 0.9618
Epoch 7/100
 703/1708 [===========>..................] - ETA: 0s - loss: 0.1206 - accuracy: 0.9614
Epoch 00007: saving model to checkpoints\weights.07.hdf5
1708/1708 [==============================] - 2s 974us/step - loss: 0.1203 - accuracy: 0.9617
Epoch 8/100
   1/1708 [..............................] - ETA: 0s - loss: 0.0451 - accuracy: 1.0000
Epoch 00008: saving model to checkpoints\weights.08.hdf5
 988/1708 [================>.............] - ETA: 0s - loss: 0.1209 - accuracy: 0.9613
Epoch 00008: saving model to checkpoints\weights.08.hdf5
1708/1708 [==============================] - 2s 901us/step - loss: 0.1196 - accuracy: 0.9618
Epoch 9/100
 295/1708 [====>.........................] - ETA: 1s - loss: 0.1177 - accuracy: 0.9602
Epoch 00009: saving model to checkpoints\weights.09.hdf5
1295/1708 [=====================>........] - ETA: 0s - loss: 0.1181 - accuracy: 0.9618
Epoch 00009: saving model to checkpoints\weights.09.hdf5
1708/1708 [==============================] - 2s 880us/step - loss: 0.1185 - accuracy: 0.9618
Epoch 10/100
 600/1708 [=========>....................] - ETA: 0s - loss: 0.1207 - accuracy: 0.9616
Epoch 00010: saving model to checkpoints\weights.10.hdf5
1596/1708 [===========================>..] - ETA: 0s - loss: 0.1184 - accuracy: 0.9619
Epoch 00010: saving model to checkpoints\weights.10.hdf5
1708/1708 [==============================] - 1s 842us/step - loss: 0.1183 - accuracy: 0.9618
Epoch 11/100
 908/1708 [==============>...............] - ETA: 0s - loss: 0.1168 - accuracy: 0.9616
Epoch 00011: saving model to checkpoints\weights.11.hdf5
1708/1708 [==============================] - 1s 842us/step - loss: 0.1179 - accuracy: 0.9619
Epoch 12/100
 182/1708 [==>...........................] - ETA: 1s - loss: 0.1189 - accuracy: 0.9602
Epoch 00012: saving model to checkpoints\weights.12.hdf5
1189/1708 [===================>..........] - ETA: 0s - loss: 0.1189 - accuracy: 0.9614
Epoch 00012: saving model to checkpoints\weights.12.hdf5
1708/1708 [==============================] - 2s 885us/step - loss: 0.1176 - accuracy: 0.9618
Epoch 13/100
 459/1708 [=======>......................] - ETA: 1s - loss: 0.1187 - accuracy: 0.9616
Epoch 00013: saving model to checkpoints\weights.13.hdf5
1489/1708 [=========================>....] - ETA: 0s - loss: 0.1179 - accuracy: 0.9623
Epoch 00013: saving model to checkpoints\weights.13.hdf5
1708/1708 [==============================] - 1s 858us/step - loss: 0.1173 - accuracy: 0.9625
Epoch 14/100
 739/1708 [===========>..................] - ETA: 0s - loss: 0.1190 - accuracy: 0.9608
Epoch 00014: saving model to checkpoints\weights.14.hdf5
1708/1708 [==============================] - 1s 839us/step - loss: 0.1173 - accuracy: 0.9620
Epoch 15/100
  52/1708 [..............................] - ETA: 1s - loss: 0.1041 - accuracy: 0.9663
Epoch 00015: saving model to checkpoints\weights.15.hdf5
1085/1708 [==================>...........] - ETA: 0s - loss: 0.1146 - accuracy: 0.9631
Epoch 00015: saving model to checkpoints\weights.15.hdf5
1708/1708 [==============================] - 1s 871us/step - loss: 0.1165 - accuracy: 0.9622
Epoch 16/100
 348/1708 [=====>........................] - ETA: 1s - loss: 0.1191 - accuracy: 0.9599
Epoch 00016: saving model to checkpoints\weights.16.hdf5
1360/1708 [======================>.......] - ETA: 0s - loss: 0.1184 - accuracy: 0.9614
Epoch 00016: saving model to checkpoints\weights.16.hdf5
1708/1708 [==============================] - 2s 903us/step - loss: 0.1170 - accuracy: 0.9620
Epoch 17/100
 644/1708 [==========>...................] - ETA: 0s - loss: 0.1159 - accuracy: 0.9637
Epoch 00017: saving model to checkpoints\weights.17.hdf5
1655/1708 [============================>.] - ETA: 0s - loss: 0.1166 - accuracy: 0.9621
Epoch 00017: saving model to checkpoints\weights.17.hdf5
1708/1708 [==============================] - 2s 927us/step - loss: 0.1168 - accuracy: 0.9620
Epoch 18/100
 917/1708 [===============>..............] - ETA: 0s - loss: 0.1151 - accuracy: 0.9630
Epoch 00018: saving model to checkpoints\weights.18.hdf5
1708/1708 [==============================] - 1s 846us/step - loss: 0.1169 - accuracy: 0.9624
Epoch 19/100
 220/1708 [==>...........................] - ETA: 1s - loss: 0.1154 - accuracy: 0.9631
Epoch 00019: saving model to checkpoints\weights.19.hdf5
1202/1708 [====================>.........] - ETA: 0s - loss: 0.1156 - accuracy: 0.9627
Epoch 00019: saving model to checkpoints\weights.19.hdf5
1708/1708 [==============================] - 2s 951us/step - loss: 0.1165 - accuracy: 0.9622
Epoch 20/100
 535/1708 [========>.....................] - ETA: 1s - loss: 0.1161 - accuracy: 0.9627
Epoch 00020: saving model to checkpoints\weights.20.hdf5
1547/1708 [==========================>...] - ETA: 0s - loss: 0.1155 - accuracy: 0.9623
Epoch 00020: saving model to checkpoints\weights.20.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1160 - accuracy: 0.9621
Epoch 21/100
 818/1708 [=============>................] - ETA: 0s - loss: 0.1155 - accuracy: 0.9627
Epoch 00021: saving model to checkpoints\weights.21.hdf5
1708/1708 [==============================] - 2s 990us/step - loss: 0.1161 - accuracy: 0.9620
Epoch 22/100
 106/1708 [>.............................] - ETA: 1s - loss: 0.1116 - accuracy: 0.9617
Epoch 00022: saving model to checkpoints\weights.22.hdf5
1106/1708 [==================>...........] - ETA: 0s - loss: 0.1141 - accuracy: 0.9629
Epoch 00022: saving model to checkpoints\weights.22.hdf5
1708/1708 [==============================] - 2s 933us/step - loss: 0.1166 - accuracy: 0.9620
Epoch 23/100
 411/1708 [======>.......................] - ETA: 1s - loss: 0.1189 - accuracy: 0.9605
Epoch 00023: saving model to checkpoints\weights.23.hdf5
1406/1708 [=======================>......] - ETA: 0s - loss: 0.1172 - accuracy: 0.9617
Epoch 00023: saving model to checkpoints\weights.23.hdf5
1708/1708 [==============================] - 2s 943us/step - loss: 0.1159 - accuracy: 0.9623
Epoch 24/100
 710/1708 [===========>..................] - ETA: 0s - loss: 0.1178 - accuracy: 0.9620
Epoch 00024: saving model to checkpoints\weights.24.hdf5

1708/1708 [==============================] - 2s 878us/step - loss: 0.1162 - accuracy: 0.9617
Epoch 25/100
   1/1708 [..............................] - ETA: 0s - loss: 0.2497 - accuracy: 0.9062
Epoch 00025: saving model to checkpoints\weights.25.hdf5
 992/1708 [================>.............] - ETA: 0s - loss: 0.1154 - accuracy: 0.9628
Epoch 00025: saving model to checkpoints\weights.25.hdf5
1708/1708 [==============================] - 2s 899us/step - loss: 0.1165 - accuracy: 0.9622
Epoch 26/100
 296/1708 [====>.........................] - ETA: 1s - loss: 0.1171 - accuracy: 0.9623
Epoch 00026: saving model to checkpoints\weights.26.hdf5
1263/1708 [=====================>........] - ETA: 0s - loss: 0.1166 - accuracy: 0.9623
Epoch 00026: saving model to checkpoints\weights.26.hdf5
1708/1708 [==============================] - 2s 885us/step - loss: 0.1159 - accuracy: 0.9623
Epoch 27/100
 533/1708 [========>.....................] - ETA: 1s - loss: 0.1120 - accuracy: 0.9640
Epoch 00027: saving model to checkpoints\weights.27.hdf5
1544/1708 [==========================>...] - ETA: 0s - loss: 0.1154 - accuracy: 0.9621
Epoch 00027: saving model to checkpoints\weights.27.hdf5
1708/1708 [==============================] - 2s 882us/step - loss: 0.1157 - accuracy: 0.9620
Epoch 28/100
 848/1708 [=============>................] - ETA: 0s - loss: 0.1130 - accuracy: 0.9628
Epoch 00028: saving model to checkpoints\weights.28.hdf5
1708/1708 [==============================] - 2s 919us/step - loss: 0.1155 - accuracy: 0.9622
Epoch 29/100
 170/1708 [=>............................] - ETA: 1s - loss: 0.1169 - accuracy: 0.9632
Epoch 00029: saving model to checkpoints\weights.29.hdf5
1144/1708 [===================>..........] - ETA: 0s - loss: 0.1151 - accuracy: 0.9625
Epoch 00029: saving model to checkpoints\weights.29.hdf5
1708/1708 [==============================] - 2s 996us/step - loss: 0.1159 - accuracy: 0.9621
Epoch 30/100
 460/1708 [=======>......................] - ETA: 1s - loss: 0.1165 - accuracy: 0.9609 ETA: 1s - loss: 0.1083 -
Epoch 00030: saving model to checkpoints\weights.30.hdf5
1439/1708 [========================>.....] - ETA: 0s - loss: 0.1149 - accuracy: 0.9623
Epoch 00030: saving model to checkpoints\weights.30.hdf5
1708/1708 [==============================] - 2s 994us/step - loss: 0.1157 - accuracy: 0.9623
Epoch 31/100
 725/1708 [===========>..................] - ETA: 0s - loss: 0.1160 - accuracy: 0.9621
Epoch 00031: saving model to checkpoints\weights.31.hdf5
1708/1708 [==============================] - 2s 979us/step - loss: 0.1155 - accuracy: 0.9621
Epoch 32/100
   1/1708 [..............................] - ETA: 0s - loss: 0.0399 - accuracy: 1.0000
Epoch 00032: saving model to checkpoints\weights.32.hdf5
1006/1708 [================>.............] - ETA: 0s - loss: 0.1133 - accuracy: 0.9633
Epoch 00032: saving model to checkpoints\weights.32.hdf5
1708/1708 [==============================] - 1s 877us/step - loss: 0.1157 - accuracy: 0.9622
Epoch 33/100
 307/1708 [====>.........................] - ETA: 1s - loss: 0.1132 - accuracy: 0.9640
Epoch 00033: saving model to checkpoints\weights.33.hdf5
1341/1708 [======================>.......] - ETA: 0s - loss: 0.1145 - accuracy: 0.9625
Epoch 00033: saving model to checkpoints\weights.33.hdf5
1708/1708 [==============================] - 2s 910us/step - loss: 0.1154 - accuracy: 0.9621
Epoch 34/100
 631/1708 [==========>...................] - ETA: 0s - loss: 0.1155 - accuracy: 0.9622
Epoch 00034: saving model to checkpoints\weights.34.hdf5
1600/1708 [===========================>..] - ETA: 0s - loss: 0.1149 - accuracy: 0.9627
Epoch 00034: saving model to checkpoints\weights.34.hdf5
1708/1708 [==============================] - 2s 897us/step - loss: 0.1156 - accuracy: 0.9625
Epoch 35/100
 890/1708 [==============>...............] - ETA: 0s - loss: 0.1158 - accuracy: 0.9623
Epoch 00035: saving model to checkpoints\weights.35.hdf5
1708/1708 [==============================] - 2s 890us/step - loss: 0.1152 - accuracy: 0.9622
Epoch 36/100
 171/1708 [==>...........................] - ETA: 1s - loss: 0.1103 - accuracy: 0.9635
Epoch 00036: saving model to checkpoints\weights.36.hdf5
1190/1708 [===================>..........] - ETA: 0s - loss: 0.1149 - accuracy: 0.9625
Epoch 00036: saving model to checkpoints\weights.36.hdf5
1708/1708 [==============================] - 2s 893us/step - loss: 0.1153 - accuracy: 0.9623
Epoch 37/100
 466/1708 [=======>......................] - ETA: 1s - loss: 0.1129 - accuracy: 0.9632
Epoch 00037: saving model to checkpoints\weights.37.hdf5
1483/1708 [=========================>....] - ETA: 0s - loss: 0.1159 - accuracy: 0.9622
Epoch 00037: saving model to checkpoints\weights.37.hdf5
1708/1708 [==============================] - 2s 900us/step - loss: 0.1156 - accuracy: 0.9623
Epoch 38/100
 795/1708 [============>.................] - ETA: 0s - loss: 0.1123 - accuracy: 0.9630
Epoch 00038: saving model to checkpoints\weights.38.hdf5
1708/1708 [==============================] - 2s 892us/step - loss: 0.1154 - accuracy: 0.9623
Epoch 39/100
  55/1708 [..............................] - ETA: 1s - loss: 0.1034 - accuracy: 0.9670
Epoch 00039: saving model to checkpoints\weights.39.hdf5
1075/1708 [=================>............] - ETA: 0s - loss: 0.1137 - accuracy: 0.9626
Epoch 00039: saving model to checkpoints\weights.39.hdf5
1708/1708 [==============================] - 2s 929us/step - loss: 0.1151 - accuracy: 0.9622
Epoch 40/100
 365/1708 [=====>........................] - ETA: 1s - loss: 0.1218 - accuracy: 0.9584
Epoch 00040: saving model to checkpoints\weights.40.hdf5
1337/1708 [======================>.......] - ETA: 0s - loss: 0.1151 - accuracy: 0.9623
Epoch 00040: saving model to checkpoints\weights.40.hdf5
1708/1708 [==============================] - 2s 878us/step - loss: 0.1152 - accuracy: 0.9623
Epoch 41/100
 638/1708 [==========>...................] - ETA: 0s - loss: 0.1116 - accuracy: 0.9638
Epoch 00041: saving model to checkpoints\weights.41.hdf5
1663/1708 [============================>.] - ETA: 0s - loss: 0.1158 - accuracy: 0.9619
Epoch 00041: saving model to checkpoints\weights.41.hdf5
1708/1708 [==============================] - 2s 893us/step - loss: 0.1154 - accuracy: 0.9621
Epoch 42/100
 936/1708 [===============>..............] - ETA: 0s - loss: 0.1159 - accuracy: 0.9614
Epoch 00042: saving model to checkpoints\weights.42.hdf5
1708/1708 [==============================] - 2s 887us/step - loss: 0.1151 - accuracy: 0.9621
Epoch 43/100
 208/1708 [==>...........................] - ETA: 1s - loss: 0.1170 - accuracy: 0.9612
Epoch 00043: saving model to checkpoints\weights.43.hdf5
1243/1708 [====================>.........] - ETA: 0s - loss: 0.1166 - accuracy: 0.9623
Epoch 00043: saving model to checkpoints\weights.43.hdf5
1708/1708 [==============================] - 2s 970us/step - loss: 0.1156 - accuracy: 0.9623
Epoch 44/100
 550/1708 [========>.....................] - ETA: 0s - loss: 0.1174 - accuracy: 0.9610
Epoch 00044: saving model to checkpoints\weights.44.hdf5
1518/1708 [=========================>....] - ETA: 0s - loss: 0.1154 - accuracy: 0.9623
Epoch 00044: saving model to checkpoints\weights.44.hdf5
1708/1708 [==============================] - 2s 885us/step - loss: 0.1153 - accuracy: 0.9623
Epoch 45/100
 840/1708 [=============>................] - ETA: 0s - loss: 0.1161 - accuracy: 0.9622
Epoch 00045: saving model to checkpoints\weights.45.hdf5
1708/1708 [==============================] - 2s 899us/step - loss: 0.1151 - accuracy: 0.9621
Epoch 46/100
 104/1708 [>.............................] - ETA: 1s - loss: 0.1112 - accuracy: 0.9621
Epoch 00046: saving model to checkpoints\weights.46.hdf5
1099/1708 [==================>...........] - ETA: 0s - loss: 0.1160 - accuracy: 0.9619
Epoch 00046: saving model to checkpoints\weights.46.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1151 - accuracy: 0.9624
Epoch 47/100
 395/1708 [=====>........................] - ETA: 2s - loss: 0.1141 - accuracy: 0.9616
Epoch 00047: saving model to checkpoints\weights.47.hdf5
1406/1708 [=======================>......] - ETA: 0s - loss: 0.1140 - accuracy: 0.9623
Epoch 00047: saving model to checkpoints\weights.47.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1150 - accuracy: 0.9622
Epoch 48/100
 712/1708 [===========>..................] - ETA: 0s - loss: 0.1181 - accuracy: 0.9615
Epoch 00048: saving model to checkpoints\weights.48.hdf5
1708/1708 [==============================] - 2s 943us/step - loss: 0.1151 - accuracy: 0.9623
Epoch 49/100
   1/1708 [..............................] - ETA: 0s - loss: 0.1256 - accuracy: 0.9375
Epoch 00049: saving model to checkpoints\weights.49.hdf5
1010/1708 [================>.............] - ETA: 0s - loss: 0.1141 - accuracy: 0.9620
Epoch 00049: saving model to checkpoints\weights.49.hdf5
1708/1708 [==============================] - 1s 848us/step - loss: 0.1149 - accuracy: 0.9622
Epoch 50/100
 262/1708 [===>..........................] - ETA: 1s - loss: 0.1190 - accuracy: 0.9612 ETA: 1s - loss: 0.1063 - accuracy
Epoch 00050: saving model to checkpoints\weights.50.hdf5
1279/1708 [=====================>........] - ETA: 0s - loss: 0.1139 - accuracy: 0.9631
Epoch 00050: saving model to checkpoints\weights.50.hdf5
1708/1708 [==============================] - 2s 993us/step - loss: 0.1149 - accuracy: 0.9625
Epoch 51/100
 591/1708 [=========>....................] - ETA: 0s - loss: 0.1144 - accuracy: 0.9635
Epoch 00051: saving model to checkpoints\weights.51.hdf5
1586/1708 [==========================>...] - ETA: 0s - loss: 0.1151 - accuracy: 0.9626
Epoch 00051: saving model to checkpoints\weights.51.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1149 - accuracy: 0.9626
Epoch 52/100
 851/1708 [=============>................] - ETA: 0s - loss: 0.1122 - accuracy: 0.9623
Epoch 00052: saving model to checkpoints\weights.52.hdf5
1708/1708 [==============================] - 1s 863us/step - loss: 0.1148 - accuracy: 0.9623
Epoch 53/100
 132/1708 [=>............................] - ETA: 1s - loss: 0.0997 - accuracy: 0.9685
Epoch 00053: saving model to checkpoints\weights.53.hdf5
1129/1708 [==================>...........] - ETA: 0s - loss: 0.1120 - accuracy: 0.9631
Epoch 00053: saving model to checkpoints\weights.53.hdf5
1708/1708 [==============================] - 2s 885us/step - loss: 0.1144 - accuracy: 0.9624
Epoch 54/100
 437/1708 [======>.......................] - ETA: 1s - loss: 0.1136 - accuracy: 0.9619
Epoch 00054: saving model to checkpoints\weights.54.hdf5
1466/1708 [========================>.....] - ETA: 0s - loss: 0.1150 - accuracy: 0.9622
Epoch 00054: saving model to checkpoints\weights.54.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1149 - accuracy: 0.9622
Epoch 55/100
 731/1708 [===========>..................] - ETA: 0s - loss: 0.1137 - accuracy: 0.9622
Epoch 00055: saving model to checkpoints\weights.55.hdf5
1708/1708 [==============================] - 2s 894us/step - loss: 0.1149 - accuracy: 0.9622
Epoch 56/100
  58/1708 [>.............................] - ETA: 1s - loss: 0.1083 - accuracy: 0.9623
Epoch 00056: saving model to checkpoints\weights.56.hdf5
1042/1708 [=================>............] - ETA: 0s - loss: 0.1150 - accuracy: 0.9625
Epoch 00056: saving model to checkpoints\weights.56.hdf5
1708/1708 [==============================] - 2s 960us/step - loss: 0.1148 - accuracy: 0.9623
Epoch 57/100
 321/1708 [====>.........................] - ETA: 1s - loss: 0.1264 - accuracy: 0.9596
Epoch 00057: saving model to checkpoints\weights.57.hdf5
1311/1708 [======================>.......] - ETA: 0s - loss: 0.1158 - accuracy: 0.9621
Epoch 00057: saving model to checkpoints\weights.57.hdf5
1708/1708 [==============================] - 2s 952us/step - loss: 0.1147 - accuracy: 0.9624
Epoch 58/100
 627/1708 [==========>...................] - ETA: 1s - loss: 0.1111 - accuracy: 0.9639
Epoch 00058: saving model to checkpoints\weights.58.hdf5
1622/1708 [===========================>..] - ETA: 0s - loss: 0.1149 - accuracy: 0.9622
Epoch 00058: saving model to checkpoints\weights.58.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1149 - accuracy: 0.9624
Epoch 59/100
 896/1708 [==============>...............] - ETA: 0s - loss: 0.1159 - accuracy: 0.9614
Epoch 00059: saving model to checkpoints\weights.59.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1146 - accuracy: 0.9623
Epoch 60/100
 172/1708 [==>...........................] - ETA: 1s - loss: 0.1010 - accuracy: 0.9677
Epoch 00060: saving model to checkpoints\weights.60.hdf5
1189/1708 [===================>..........] - ETA: 0s - loss: 0.1140 - accuracy: 0.9625
Epoch 00060: saving model to checkpoints\weights.60.hdf5
1708/1708 [==============================] - 2s 916us/step - loss: 0.1147 - accuracy: 0.9622
Epoch 61/100
 476/1708 [=======>......................] - ETA: 1s - loss: 0.1144 - accuracy: 0.9634
Epoch 00061: saving model to checkpoints\weights.61.hdf5
1488/1708 [=========================>....] - ETA: 0s - loss: 0.1152 - accuracy: 0.9622
Epoch 00061: saving model to checkpoints\weights.61.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1149 - accuracy: 0.9625
Epoch 62/100
 807/1708 [=============>................] - ETA: 0s - loss: 0.1173 - accuracy: 0.9620
Epoch 00062: saving model to checkpoints\weights.62.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1147 - accuracy: 0.9622
Epoch 63/100
 102/1708 [>.............................] - ETA: 1s - loss: 0.0963 - accuracy: 0.9681
Epoch 00063: saving model to checkpoints\weights.63.hdf5
1094/1708 [==================>...........] - ETA: 0s - loss: 0.1126 - accuracy: 0.9632
Epoch 00063: saving model to checkpoints\weights.63.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1148 - accuracy: 0.9624
Epoch 64/100
 376/1708 [=====>........................] - ETA: 1s - loss: 0.1154 - accuracy: 0.9635
Epoch 00064: saving model to checkpoints\weights.64.hdf5
1391/1708 [=======================>......] - ETA: 0s - loss: 0.1153 - accuracy: 0.9623
Epoch 00064: saving model to checkpoints\weights.64.hdf5
1708/1708 [==============================] - 2s 950us/step - loss: 0.1147 - accuracy: 0.9624
Epoch 65/100
 648/1708 [==========>...................] - ETA: 0s - loss: 0.1139 - accuracy: 0.9629
Epoch 00065: saving model to checkpoints\weights.65.hdf5
1683/1708 [============================>.] - ETA: 0s - loss: 0.1148 - accuracy: 0.9626
Epoch 00065: saving model to checkpoints\weights.65.hdf5
1708/1708 [==============================] - 2s 944us/step - loss: 0.1148 - accuracy: 0.9626
Epoch 66/100
 973/1708 [================>.............] - ETA: 0s - loss: 0.1125 - accuracy: 0.9632
Epoch 00066: saving model to checkpoints\weights.66.hdf5
1708/1708 [==============================] - 2s 977us/step - loss: 0.1144 - accuracy: 0.9625
Epoch 67/100
 221/1708 [==>...........................] - ETA: 1s - loss: 0.1113 - accuracy: 0.9627
Epoch 00067: saving model to checkpoints\weights.67.hdf5
1235/1708 [====================>.........] - ETA: 0s - loss: 0.1152 - accuracy: 0.9617
Epoch 00067: saving model to checkpoints\weights.67.hdf5
1708/1708 [==============================] - 2s 953us/step - loss: 0.1142 - accuracy: 0.9624
Epoch 68/100
 547/1708 [========>.....................] - ETA: 1s - loss: 0.1112 - accuracy: 0.9635
Epoch 00068: saving model to checkpoints\weights.68.hdf5
1544/1708 [==========================>...] - ETA: 0s - loss: 0.1132 - accuracy: 0.9627
Epoch 00068: saving model to checkpoints\weights.68.hdf5
1708/1708 [==============================] - 2s 955us/step - loss: 0.1142 - accuracy: 0.9622
Epoch 69/100
 821/1708 [=============>................] - ETA: 0s - loss: 0.1161 - accuracy: 0.9621
Epoch 00069: saving model to checkpoints\weights.69.hdf5
1708/1708 [==============================] - 2s 951us/step - loss: 0.1146 - accuracy: 0.9623
Epoch 70/100
 112/1708 [>.............................] - ETA: 1s - loss: 0.1087 - accuracy: 0.9646
Epoch 00070: saving model to checkpoints\weights.70.hdf5
1105/1708 [==================>...........] - ETA: 0s - loss: 0.1164 - accuracy: 0.9610
Epoch 00070: saving model to checkpoints\weights.70.hdf5

1708/1708 [==============================] - 2s 1ms/step - loss: 0.1144 - accuracy: 0.9622
Epoch 71/100
 397/1708 [=====>........................] - ETA: 1s - loss: 0.1189 - accuracy: 0.9600
Epoch 00071: saving model to checkpoints\weights.71.hdf5
1416/1708 [=======================>......] - ETA: 0s - loss: 0.1148 - accuracy: 0.9621
Epoch 00071: saving model to checkpoints\weights.71.hdf5
1708/1708 [==============================] - 2s 939us/step - loss: 0.1147 - accuracy: 0.9624
Epoch 72/100
 675/1708 [==========>...................] - ETA: 0s - loss: 0.1139 - accuracy: 0.9628
Epoch 00072: saving model to checkpoints\weights.72.hdf5
1708/1708 [==============================] - 2s 913us/step - loss: 0.1144 - accuracy: 0.9624
Epoch 73/100
   1/1708 [..............................] - ETA: 0s - loss: 0.1279 - accuracy: 0.9688
Epoch 00073: saving model to checkpoints\weights.73.hdf5
1021/1708 [================>.............] - ETA: 0s - loss: 0.1135 - accuracy: 0.9628
Epoch 00073: saving model to checkpoints\weights.73.hdf5
1708/1708 [==============================] - 2s 969us/step - loss: 0.1145 - accuracy: 0.9623
Epoch 74/100
 286/1708 [====>.........................] - ETA: 1s - loss: 0.1086 - accuracy: 0.9644
Epoch 00074: saving model to checkpoints\weights.74.hdf5
1308/1708 [=====================>........] - ETA: 0s - loss: 0.1132 - accuracy: 0.9627
Epoch 00074: saving model to checkpoints\weights.74.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1145 - accuracy: 0.9625
Epoch 75/100
 573/1708 [=========>....................] - ETA: 1s - loss: 0.1157 - accuracy: 0.9611
Epoch 00075: saving model to checkpoints\weights.75.hdf5
1596/1708 [===========================>..] - ETA: 0s - loss: 0.1138 - accuracy: 0.9629
Epoch 00075: saving model to checkpoints\weights.75.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1144 - accuracy: 0.9625
Epoch 76/100
 891/1708 [==============>...............] - ETA: 0s - loss: 0.1138 - accuracy: 0.9615
Epoch 00076: saving model to checkpoints\weights.76.hdf5
1708/1708 [==============================] - 2s 906us/step - loss: 0.1142 - accuracy: 0.9624
Epoch 77/100
 167/1708 [=>............................] - ETA: 1s - loss: 0.1150 - accuracy: 0.9641
Epoch 00077: saving model to checkpoints\weights.77.hdf5
1165/1708 [===================>..........] - ETA: 0s - loss: 0.1130 - accuracy: 0.9628
Epoch 00077: saving model to checkpoints\weights.77.hdf5
1708/1708 [==============================] - 2s 938us/step - loss: 0.1144 - accuracy: 0.9623
Epoch 78/100
 465/1708 [=======>......................] - ETA: 1s - loss: 0.1157 - accuracy: 0.9618
Epoch 00078: saving model to checkpoints\weights.78.hdf5
1465/1708 [========================>.....] - ETA: 0s - loss: 0.1149 - accuracy: 0.9617
Epoch 00078: saving model to checkpoints\weights.78.hdf5
1708/1708 [==============================] - 2s 907us/step - loss: 0.1143 - accuracy: 0.9621
Epoch 79/100
 725/1708 [===========>..................] - ETA: 0s - loss: 0.1161 - accuracy: 0.9622
Epoch 00079: saving model to checkpoints\weights.79.hdf5
1708/1708 [==============================] - 2s 898us/step - loss: 0.1140 - accuracy: 0.9623
Epoch 80/100
  61/1708 [>.............................] - ETA: 1s - loss: 0.1173 - accuracy: 0.9580
Epoch 00080: saving model to checkpoints\weights.80.hdf5
1018/1708 [================>.............] - ETA: 0s - loss: 0.1148 - accuracy: 0.9626
Epoch 00080: saving model to checkpoints\weights.80.hdf5
1708/1708 [==============================] - 2s 917us/step - loss: 0.1142 - accuracy: 0.9623
Epoch 81/100
 296/1708 [====>.........................] - ETA: 1s - loss: 0.1131 - accuracy: 0.9617
Epoch 00081: saving model to checkpoints\weights.81.hdf5
1350/1708 [======================>.......] - ETA: 0s - loss: 0.1140 - accuracy: 0.9622
Epoch 00081: saving model to checkpoints\weights.81.hdf5
1708/1708 [==============================] - 2s 891us/step - loss: 0.1141 - accuracy: 0.9623
Epoch 82/100
 638/1708 [==========>...................] - ETA: 0s - loss: 0.1103 - accuracy: 0.9642
Epoch 00082: saving model to checkpoints\weights.82.hdf5
1630/1708 [===========================>..] - ETA: 0s - loss: 0.1135 - accuracy: 0.9626
Epoch 00082: saving model to checkpoints\weights.82.hdf5
1708/1708 [==============================] - 2s 880us/step - loss: 0.1139 - accuracy: 0.9625
Epoch 83/100
 896/1708 [==============>...............] - ETA: 0s - loss: 0.1119 - accuracy: 0.9635
Epoch 00083: saving model to checkpoints\weights.83.hdf5
1708/1708 [==============================] - 2s 933us/step - loss: 0.1139 - accuracy: 0.9624
Epoch 84/100
 212/1708 [==>...........................] - ETA: 1s - loss: 0.1210 - accuracy: 0.9603
Epoch 00084: saving model to checkpoints\weights.84.hdf5
1190/1708 [===================>..........] - ETA: 0s - loss: 0.1150 - accuracy: 0.9622
Epoch 00084: saving model to checkpoints\weights.84.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1138 - accuracy: 0.9626
Epoch 85/100
 511/1708 [=======>......................] - ETA: 1s - loss: 0.1200 - accuracy: 0.9593
Epoch 00085: saving model to checkpoints\weights.85.hdf5
1522/1708 [=========================>....] - ETA: 0s - loss: 0.1136 - accuracy: 0.9625
Epoch 00085: saving model to checkpoints\weights.85.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1141 - accuracy: 0.9625
Epoch 86/100
 767/1708 [============>.................] - ETA: 0s - loss: 0.1165 - accuracy: 0.9618
Epoch 00086: saving model to checkpoints\weights.86.hdf5
1708/1708 [==============================] - 2s 965us/step - loss: 0.1140 - accuracy: 0.9624
Epoch 87/100
  54/1708 [..............................] - ETA: 1s - loss: 0.0962 - accuracy: 0.9705
Epoch 00087: saving model to checkpoints\weights.87.hdf5
1107/1708 [==================>...........] - ETA: 0s - loss: 0.1136 - accuracy: 0.9626
Epoch 00087: saving model to checkpoints\weights.87.hdf5
1708/1708 [==============================] - 2s 981us/step - loss: 0.1141 - accuracy: 0.9623
Epoch 88/100
 397/1708 [=====>........................] - ETA: 1s - loss: 0.1084 - accuracy: 0.9645
Epoch 00088: saving model to checkpoints\weights.88.hdf5
1399/1708 [=======================>......] - ETA: 0s - loss: 0.1121 - accuracy: 0.9635
Epoch 00088: saving model to checkpoints\weights.88.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1141 - accuracy: 0.9624
Epoch 89/100
 671/1708 [==========>...................] - ETA: 1s - loss: 0.1133 - accuracy: 0.9622
Epoch 00089: saving model to checkpoints\weights.89.hdf5
1691/1708 [============================>.] - ETA: 0s - loss: 0.1139 - accuracy: 0.9624
Epoch 00089: saving model to checkpoints\weights.89.hdf5
1708/1708 [==============================] - 3s 1ms/step - loss: 0.1141 - accuracy: 0.9624
Epoch 90/100
 955/1708 [===============>..............] - ETA: 0s - loss: 0.1144 - accuracy: 0.9623
Epoch 00090: saving model to checkpoints\weights.90.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1135 - accuracy: 0.9625
Epoch 91/100
 239/1708 [===>..........................] - ETA: 2s - loss: 0.1093 - accuracy: 0.9655 ETA: 1s - loss: 0.0989 - accu
Epoch 00091: saving model to checkpoints\weights.91.hdf5
1268/1708 [=====================>........] - ETA: 0s - loss: 0.1135 - accuracy: 0.9630
Epoch 00091: saving model to checkpoints\weights.91.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1141 - accuracy: 0.9625
Epoch 92/100
 519/1708 [========>.....................] - ETA: 1s - loss: 0.1142 - accuracy: 0.9624
Epoch 00092: saving model to checkpoints\weights.92.hdf5
1529/1708 [=========================>....] - ETA: 0s - loss: 0.1139 - accuracy: 0.9625
Epoch 00092: saving model to checkpoints\weights.92.hdf5
1708/1708 [==============================] - 2s 998us/step - loss: 0.1140 - accuracy: 0.9625
Epoch 93/100
 820/1708 [=============>................] - ETA: 0s - loss: 0.1142 - accuracy: 0.9624
Epoch 00093: saving model to checkpoints\weights.93.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1137 - accuracy: 0.9623
Epoch 94/100
 112/1708 [>.............................] - ETA: 1s - loss: 0.1114 - accuracy: 0.9643
Epoch 00094: saving model to checkpoints\weights.94.hdf5
1112/1708 [==================>...........] - ETA: 0s - loss: 0.1141 - accuracy: 0.9628
Epoch 00094: saving model to checkpoints\weights.94.hdf5
1708/1708 [==============================] - 2s 975us/step - loss: 0.1137 - accuracy: 0.9626
Epoch 95/100
 391/1708 [=====>........................] - ETA: 1s - loss: 0.1185 - accuracy: 0.9599
Epoch 00095: saving model to checkpoints\weights.95.hdf5
1397/1708 [=======================>......] - ETA: 0s - loss: 0.1134 - accuracy: 0.9626
Epoch 00095: saving model to checkpoints\weights.95.hdf5
1708/1708 [==============================] - 2s 915us/step - loss: 0.1138 - accuracy: 0.9624
Epoch 96/100
 723/1708 [===========>..................] - ETA: 0s - loss: 0.1115 - accuracy: 0.9631
Epoch 00096: saving model to checkpoints\weights.96.hdf5
1708/1708 [==============================] - 1s 861us/step - loss: 0.1140 - accuracy: 0.9626
Epoch 97/100
   1/1708 [..............................] - ETA: 0s - loss: 0.1014 - accuracy: 0.9688
Epoch 00097: saving model to checkpoints\weights.97.hdf5
1024/1708 [================>.............] - ETA: 0s - loss: 0.1110 - accuracy: 0.9630
Epoch 00097: saving model to checkpoints\weights.97.hdf5
1708/1708 [==============================] - 2s 960us/step - loss: 0.1135 - accuracy: 0.9625
Epoch 98/100
 263/1708 [===>..........................] - ETA: 1s - loss: 0.1088 - accuracy: 0.9641
Epoch 00098: saving model to checkpoints\weights.98.hdf5
1304/1708 [=====================>........] - ETA: 0s - loss: 0.1142 - accuracy: 0.9619
Epoch 00098: saving model to checkpoints\weights.98.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1137 - accuracy: 0.9623
Epoch 99/100
 614/1708 [=========>....................] - ETA: 0s - loss: 0.1113 - accuracy: 0.9635
Epoch 00099: saving model to checkpoints\weights.99.hdf5
1582/1708 [==========================>...] - ETA: 0s - loss: 0.1134 - accuracy: 0.9624
Epoch 00099: saving model to checkpoints\weights.99.hdf5
1708/1708 [==============================] - 2s 1ms/step - loss: 0.1133 - accuracy: 0.9624
Epoch 100/100
 875/1708 [==============>...............] - ETA: 0s - loss: 0.1168 - accuracy: 0.9613
Epoch 00100: saving model to checkpoints\weights.100.hdf5
1708/1708 [==============================] - 2s 965us/step - loss: 0.1137 - accuracy: 0.9625

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy*100} %")

570/570 - 0s - loss: 0.1131 - accuracy: 0.9630
Loss: 0.1131252720952034, Accuracy: 96.29995822906494 %

In [34]:
# Hierarchical Data Format file, HDF5. Using the Keras Sequential model's save method to export the model.
# Export our model to HDF5 file
nn.save("trained_food_desertUS.h5")

## Using the Training results from the full U.S. Trained weights on the Austin-Metro only data

#### NN Machine Learning Model

In [39]:
# Fit and transform the OneHotEncoder using the categorical variable list
encodeAus_df = pd.DataFrame(enc.fit_transform(food_desert_Austin_df.Income.values.reshape(-1,1)))
encodeAus_df.head(5)

     0    1
0  0.0  1.0
1  0.0  1.0
2  0.0  1.0
3  0.0  1.0
4  0.0  1.0

In [40]:
# Split the preprocessed dataframe into our features and target arrays
#  Remove Income target from features data
y = encodeAus_df[1]
X = food_desert_Austin_df.drop(columns="Income").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [41]:
# Create StandardScaler instances
scaler = StandardScaler()
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [42]:
# Define the model - deep neural net. the number of input features and the hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 10

nn_new = tf.keras.models.Sequential()

# First hidden layer
nn_new.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_new.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_new.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_new.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 20)                180
_________________________________________________________________
dense_4 (Dense)              (None, 10)                210
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 11
=================================================================
Total params: 401
Trainable params: 401
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Restore the model weights
nn_new = tf.keras.models.load_model('trained_food_desertUS.h5')

# Compile the model
nn_new.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
# fit_model = nn_new.fit(X_train_scaled,y_train,epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_new.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy*100} %")

3/3 - 0s - loss: 0.1545 - accuracy: 0.9659
Loss: 0.15452851355075836, Accuracy: 96.59090638160706 %

#### Hierarchical Data Format file, HDF5. Using the Keras Sequential model's save method to export the model.

In [44]:
# Export the new model to HDF5 file
nn_new.save("trained_food_desert_Austin.h5")

In [45]:
# Trying the saved h5 file to recreate, check, and test for performance. 
# Import the model to a new object
nn_new_imported = tf.keras.models.load_model('trained_food_desert_Austin.h5')

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_new.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy*100} %")

3/3 - 0s - loss: 0.1545 - accuracy: 0.9659
Loss: 0.15452851355075836, Accuracy: 96.59090638160706 %

### Configure connection and engine for AWS RDS with SQLAlchemy, and 
###   Writing to the PostgreSQL database: Module20_food_deserts

In [48]:
# Configure connection and engine for AWS RDS with SQLAlchemy.
connection = psycopg2.connect(
    host = 'dataviz.c5qcqhh5xq62.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = 'xxxxx',
    database= 'Module20_food_deserts'
    )
cursor=connection.cursor()

In [49]:
# Creat engine for postgresql.
engine = create_engine('postgresql://postgres:Data1UT$@dataviz.c5qcqhh5xq62.us-east-2.rds.amazonaws.com/Module20_food_deserts')
con = engine.connect()

In [50]:
LILATracts_1And10_aus_df.to_sql('LILATracts_1And10_aus', engine, if_exists='replace')

In [51]:
food_austinMFI_df.to_sql('food_austinMFI', engine, if_exists='replace')

In [52]:
food_desert_Austin_df.to_sql('food_desert_Austin', engine, if_exists='replace')

In [53]:
food_atlasMFI_df.to_sql('food_atlasMFI', engine, if_exists='replace')

In [54]:
food_desertUS_df.to_sql('food_desertUS', engine, if_exists='replace')

In [ ]:
# LILATracts_1And10_aus_df
# food_austinMFI_df
# food_desert_Austin_df
# food_atlasMFI_df
# food_desertUS_df

In [2]:
# Join two of the DataFrames
fooddesert_austin_censusshapes_df = fooddesert_austin_censustract_df.merge(census_tract_shapefiles_all_df, on="CensusTract", how="inner")
#fooddesert_austin_censusshapes_df.head(5)

In [56]:
# SQL LEFT JOIN 
sql = "SELECT \
    fa.CensusTract, \
    fa.LowIncomeTracts, \
    fa.PovertyRate, \
    fa.MedianFamilyIncome, \
    fa.Income, \
    li.LILATracts_1And10 \
FROM food_austinMFI AS fa \
LEFT JOIN LILATracts_1And10_aus AS li ON fa.CensusTract = li.CensusTract"

In [ ]:
cursor.execute(sql)
myresult = cursor.fetchall()
for x in myresult:
   print(x)

In [1]:
# setting up for a confusion matrix for our NN ML model 
# Initializing the input tensor 
labels = tf.constant([1,3,4],dtype = tf.int32) 
predictions = tf.constant([1,2,3],dtype = tf.int32) 
  
# Printing the input tensor 
print('labels: ',labels) 
print('Predictins: ',predictions) 
  
# Evaluating confusion matric 
res = tf.math.confusion_matrix(labels,predictions) 
  
# Printing the result 
print('Confusion_matrix: ',res)

NameError: name 'tf' is not defined