In [5]:
import pandas as pd 
#import fooddesert_austin_censusshapes.csv 
application_df = pd.read_csv("resources\\fooddesert_austin_censusshapes.csv")
application_df.head()

,CensusTract,_c0,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,...,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,PointOrder,SubPolygonId,PointLatitude,PointLongitude
0,48021950100,61529,Texas,Bastrop,0,8608,3063,0,0,0.0,...,4,65,1596,2660,51,351,1,1,30.2431,-97.1950
1,48021950100,61529,Texas,Bastrop,0,8608,3063,0,0,0.0,...,4,65,1596,2660,51,351,2,1,30.2438,-97.2139
2,48021950100,61529,Texas,Bastrop,0,8608,3063,0,0,0.0,...,4,65,1596,2660,51,351,3,1,30.2425,-97.2148
3,48021950100,61529,Texas,Bastrop,0,8608,3063,0,0,0.0,...,4,65,1596,2660,51,351,4,1,30.2469,-97.2217
4,48021950100,61529,Texas,Bastrop,0,8608,3063,0,0,0.0,...,4,65,1596,2660,51,351,5,1,30.2634,-97.2306

In [6]:
for col in application_df.columns: 
    print(col)

CensusTract
_c0
State
County
Urban
POP2010
OHU2010
GroupQuartersFlag
NUMGQTRS
PCTGQTRS
LILATracts_1And10
LILATracts_halfAnd10
LILATracts_1And20
LILATracts_Vehicle
HUNVFlag
LowIncomeTracts
PovertyRate
MedianFamilyIncome
LA1and10
LAhalfand10
LA1and20
LATracts_half
LATracts1
LATracts10
LATracts20
LATractsVehicle_20
LAPOP1_10
LAPOP05_10
LAPOP1_20
LALOWI1_10
LALOWI05_10
LALOWI1_20
lapophalf
lapophalfshare
lalowihalf
lalowihalfshare
lakidshalf
lakidshalfshare
laseniorshalf
laseniorshalfshare
lawhitehalf
lawhitehalfshare
lablackhalf
lablackhalfshare
laasianhalf
laasianhalfshare
lanhopihalf
lanhopihalfshare
laaianhalf
laaianhalfshare
laomultirhalf
laomultirhalfshare
lahisphalf
lahisphalfshare
lahunvhalf
lahunvhalfshare
lasnaphalf
lasnaphalfshare
lapop1
lapop1share
lalowi1
lalowi1share
lakids1
lakids1share
laseniors1
laseniors1share
lawhite1
lawhite1share
lablack1
lablack1share
laasian1
laasian1share
lanhopi1
lanhopi1share
laaian1
laaian1share
laomultir1
laomultir1share
lahisp1
lahisp1share
lahunv1
lahunv1share
lasnap1
lasnap1share
lapop10
lapop10share
lalowi10
lalowi10share
lakids10
lakids10share
laseniors10
laseniors10share
lawhite10
lawhite10share
lablack10
lablack10share
laasian10
laasian10share
lanhopi10
lanhopi10share
laaian10
laaian10share
laomultir10
laomultir10share
lahisp10
lahisp10share
lahunv10
lahunv10share
lasnap10
lasnap10share
lapop20
lapop20share
lalowi20
lalowi20share
lakids20
lakids20share
laseniors20
laseniors20share
lawhite20
lawhite20share
lablack20
lablack20share
laasian20
laasian20share
lanhopi20
lanhopi20share
laaian20
laaian20share
laomultir20
laomultir20share
lahisp20
lahisp20share
lahunv20
lahunv20share
lasnap20
lasnap20share
TractLOWI
TractKids
TractSeniors
TractWhite
TractBlack
TractAsian
TractNHOPI
TractAIAN
TractOMultir
TractHispanic
TractHUNV
TractSNAP
PointOrder
SubPolygonId
PointLatitude
PointLongitude

In [7]:
# Create a new dataframe with geo locations, county names, and columns to be used for visualizations. To be added are geo locations and county names

column_list_number= ['lasnaphalf','lahunvhalf', 'lasnap1', 'lahunv1', 'lasnap10', 'lahunv10', 'lasnap20', 'lahunv20']
column_list_share= ['lasnaphalfshare', 'lahunvhalfshare', 'lasnap1share', 'lahunv1share', 'lasnap10share', 'lahunv10share', 'lasnap20share', 'lahunv20share']
viz_df= application_df[column_list_number+column_list_share]
viz_df.head(5)

,lasnaphalf,lahunvhalf,lasnap1,lahunv1,lasnap10,lahunv10,lasnap20,lahunv20,lasnaphalfshare,lahunvhalfshare,lasnap1share,lahunv1share,lasnap10share,lahunv10share,lasnap20share,lahunv20share
0,325.133846,48.548857,319.907937,47.889963,5.159378,0.922672,0,0,0.106149,0.01585,0.104443,0.015635,0.001684,0.000301,0,0
1,325.133846,48.548857,319.907937,47.889963,5.159378,0.922672,0,0,0.106149,0.01585,0.104443,0.015635,0.001684,0.000301,0,0
2,325.133846,48.548857,319.907937,47.889963,5.159378,0.922672,0,0,0.106149,0.01585,0.104443,0.015635,0.001684,0.000301,0,0
3,325.133846,48.548857,319.907937,47.889963,5.159378,0.922672,0,0,0.106149,0.01585,0.104443,0.015635,0.001684,0.000301,0,0
4,325.133846,48.548857,319.907937,47.889963,5.159378,0.922672,0,0,0.106149,0.01585,0.104443,0.015635,0.001684,0.000301,0,0

In [8]:
# Is this columns determine Food deserts?
application_df['LILATracts_1And10']

0       0
1       0
2       0
3       0
4       0
       ..
7381    1
7382    1
7383    1
7384    1
7385    1
Name: LILATracts_1And10, Length: 7386, dtype: int64

## Data Exploration

In [43]:

#import food_access_variable_lookup.csv.csv 
application_df = pd.read_csv("resources\\archive\\food_access_variable_lookup.csv")
application_df.head(50)

,Field,LongName,Description
0,CensusTract,Census tract,Census tract number
1,State,State,State name
2,County,County,County name
3,Urban,Urban tract,Flag for urban tract
4,POP2010,"Population, tract total",Population count from 2010 census
5,OHU2010,"Housing units, total",Occupied housing unit count from 2010 census
6,GroupQuartersFlag,"Group quarters, tract with high share",Flag for tract where >=67%
7,NUMGQTRS,"Group quarters, tract population residing in, ...",Count of tract population residing in group qu...
8,PCTGQTRS,"Group quarters, tract population residing in, ...",Percent of tract population residing in group ...
9,LILATracts_1And10,Low income and low access tract measured at 1 ...,Flag for food desert when considering low acce...
10,LILATracts_halfAnd10,Low income and low access tract measured at 1/...,Flag for food desert when considering low acce...
11,LILATracts_1And20,Low income and low access tract measured at 1 ...,Flag for food desert when considering low acce...
12,LILATracts_Vehicle,Low income and low access tract using vehicle ...,Flag for food desert when considering vehicle ...
13,HUNVFlag,"Vehicle access, tract with low vehicle access",Flag for tract where >= 100 of households do n...
14,LowIncomeTracts,Low income tract,Flag for low income tract
15,PovertyRate,Tract poverty rate,Share of the tract population living with inco...
16,MedianFamilyIncome,Tract median family income,Tract median family income
17,LA1and10,Low access tract at 1 mile for urban areas and...,Flag for low access tract at 1 mile for urban ...
18,LAhalfand10,Low access tract at 1/2 mile for urban areas a...,Flag for low access tract at 1/2 mile for urba...
19,LA1and20,Low access tract at 1 mile for urban areas and...,Flag for low access tract at 1 mile for urban ...
20,LATracts_half,Low access tract at 1/2 mile,Flag for low access tract when considering 1/2...
21,LATracts1,Low access tract at 1 mile,Flag for low access tract when considering 1 m...
22,LATracts10,Low access tract at 10 miles,Flag for low access tract when considering 10 ...
23,LATracts20,Low access tract at 20 miles,Flag for low access tract when considering 20 ...
24,LATractsVehicle_20,Low access tract using vehicle access and at 2...,Flag for tract where >= 100 of households do n...
25,LAPOP1_10,"Low access, population at 1 mile for urban are...",Population count beyond 1 mile for urban areas...
26,LAPOP05_10,"Low access, population at 1/2 mile for urban a...",Population count beyond 1/2 mile for urban are...
27,LAPOP1_20,"Low access, population at 1 mile for urban are...",Population count beyond 1 mile for urban areas...
28,LALOWI1_10,"Low access, low-income population at 1 mile fo...",Low income population count beyond 1 mile for ...
29,LALOWI05_10,"Low access, low-income population at 1/2 mile ...",Low income population count beyond 1/2 mile fo...
30,LALOWI1_20,"Low access, low-income population at 1 mile fo...",Low income population count beyond 1 mile for ...
31,lapophalf,"Low access, population at 1/2 mile, number",Population count beyond 1/2 mile from supermarket
32,lapophalfshare,"Low access, population at 1/2 mile, share",Share of tract population that are beyond 1/2 ...
33,lalowihalf,"Low access, low-income population at 1/2 mile,...",Low income population count beyond 1/2 mile fr...
34,lalowihalfshare,"Low access, low-income population at 1/2 mile,...",Share of tract population that are low income ...
35,lakidshalf,"Low access, children age 0-17 at 1/2 mile, number",Kids population count beyond 1/2 mile from sup...
36,lakidshalfshare,"Low access, children age 0-17 at 1/2 mile, share",Share of tract population that are kids beyond...
37,laseniorshalf,"Low access, seniors age 65+ at 1/2 mile, number",Seniors population count beyond 1/2 mile from ...
38,laseniorshalfshare,"Low access, seniors age 65+ at 1/2 mile, share",Share of tract population that are seniors bey...
39,lawhitehalf,"Low access, White population at 1/2 mile, number",White population count beyond 1/2 mile from su...
40,lawhitehalfshare,"Low access, White population at 1/2 mile, share",Share of tract population that are white beyon...
41,lablackhalf,"Low access, Black or African American populati...",Black or African American population count bey...
42,lablackhalfshare,"Low access, Black or African American populati...",Share of tract population that are Black or Af...
43,laasianhalf,"Low access, Asian population at 1/2 mile, number",Asian population count beyond 1/2 mile from su...
44,laasianhalfshare,"Low access, Asian population at 1/2 mile, share",Share of tract population that are Asian beyon...
45,lanhopihalf,"Low access, Native Hawaiian or Other Pacific I...",Native Hawaiian or Other Pacific Islander popu...
46,lanhopihalfshare,"Low access, Native Hawaiian or Other Pacific I...",Share of tract population that are Native Hawa...
47,laaianhalf,"Low access, American Indian or Alaska Native p...",American Indian or Alaska Native population co...
48,laaianhalfshare,"Low access, American Indian or Alaska Native p...",Share of tract population that are American In...
49,laomultirhalf,"Low access, Other/Multiple race population at ...",Other/Multiple race population count beyond 1/...

In [17]:
application_df.shape

(147, 3)

In [26]:
print(application_df.iloc[11,0])
print(application_df.iloc[11,1])
print(application_df.iloc[11,2])

LILATracts_1And20
Low income and low access tract measured at 1 mile for urban areas and 20 miles for rural areas
Flag for food desert when considering low accessibilty at 1 and 20 miles

In [27]:
application_df.drop(['LongName'], axis=1)

             Field                                        Description
0      CensusTract                                Census tract number
1            State                                         State name
2           County                                        County name
3            Urban                               Flag for urban tract
4          POP2010                  Population count from 2010 census
..             ...                                                ...
142      TractAIAN  Total count of American Indian and Alaska Nati...
143   TractOMultir  Total count of Other/Multiple race population ...
144  TractHispanic  Total count of Hispanic or Latino population i...
145      TractHUNV  Total count of housing units without a vehicle...
146      TractSNAP  Total count of housing units receiving SNAP be...

[147 rows x 2 columns]

In [33]:
application_df.loc[application_df["Field"] == "LILATracts_1And20"]

,Field,LongName,Description
11,LILATracts_1And20,Low income and low access tract measured at 1 ...,Flag for food desert when considering low acce...

In [36]:
test= 'LILATracts_1And20'
test.endswith('_1And20')

True

In [45]:
application_df.loc[application_df["Field"].str.endswith("1share")]

,Field,LongName,Description
58,lapop1share,"Low access, population at 1 mile, share",Share of tract population that are beyond 1 mi...
60,lalowi1share,"Low access, low-income population at 1 mile, s...",Share of tract population that are low income ...
62,lakids1share,"Low access, children age 0-17 at 1 mile, share",Share of tract population that are kids beyond...
64,laseniors1share,"Low access, seniors age 65+ at 1 mile, share",Share of tract population that are seniors bey...
66,lawhite1share,"Low access, White population at 1 mile, share",Share of tract population that are white beyon...
68,lablack1share,"Low access, Black or African American populati...",Share of tract population that are Black or Af...
70,laasian1share,"Low access, Asian population at 1 mile, share",Share of tract population that are Asian beyon...
72,lanhopi1share,"Low access, Native Hawaiian and Other Pacific ...",Share of tract population that are Native Hawa...
74,laaian1share,"Low access, American Indian and Alaska Native ...",Share of tract population that are American In...
76,laomultir1share,"Low access, Other/Multiple race population at ...",Share of tract population that are Other/Multi...
78,lahisp1share,"Low access, Hispanic or Latino population at 1...",Share of tract population that are of Hispanic...
80,lahunv1share,"Vehicle access, housing units without and low ...",Share of tract housing units that are without ...
82,lasnap1share,"Low access, housing units receiving SNAP benef...",Share of tract housing units receiving SNAP be...

In [46]:
share_1_df= application_df.loc[application_df["Field"].str.endswith("1share")]
share_half_df= application_df.loc[application_df["Field"].str.endswith("halfshare")]
share_10_df= application_df.loc[application_df["Field"].str.endswith("10share")]
share_20_df= application_df.loc[application_df["Field"].str.endswith("20share")]

In [48]:
print(share_1_df.shape, share_half_df.shape, share_10_df.shape, share_20_df.shape)

(13, 3) (13, 3) (13, 3) (13, 3)

In [52]:
share_1_df['Field']

58        lapop1share
60       lalowi1share
62       lakids1share
64    laseniors1share
66      lawhite1share
68      lablack1share
70      laasian1share
72      lanhopi1share
74       laaian1share
76    laomultir1share
78       lahisp1share
80       lahunv1share
82       lasnap1share
Name: Field, dtype: object

In [53]:
share_half_df['Field']

32        lapophalfshare
34       lalowihalfshare
36       lakidshalfshare
38    laseniorshalfshare
40      lawhitehalfshare
42      lablackhalfshare
44      laasianhalfshare
46      lanhopihalfshare
48       laaianhalfshare
50    laomultirhalfshare
52       lahisphalfshare
54       lahunvhalfshare
56       lasnaphalfshare
Name: Field, dtype: object

In [54]:
share_10_df['Field']

84         lapop10share
86        lalowi10share
88        lakids10share
90     laseniors10share
92       lawhite10share
94       lablack10share
96       laasian10share
98       lanhopi10share
100       laaian10share
102    laomultir10share
104       lahisp10share
106       lahunv10share
108       lasnap10share
Name: Field, dtype: object

In [55]:
share_20_df['Field']

110        lapop20share
112       lalowi20share
114       lakids20share
116    laseniors20share
118      lawhite20share
120      lablack20share
122      laasian20share
124      lanhopi20share
126       laaian20share
128    laomultir20share
130       lahisp20share
132       lahunv20share
134       lasnap20share
Name: Field, dtype: object